body {
    background: linear-gradient(to bottom, rgb(21, 189, 223), rgb(0, 255, 213));
}

.centralizar{
    text-align: center;
}

.imagem{
    width: 300px;
    align-items: center;
}

h1 {

    color: blue;
    font-size: 50px;
}

#nomes{
    color: red;
}

h2 {
    font-size: 40px;
    color: blue;
}

h3 {
    color: blue;
    font-size: 40px;
}

p {
    text-align: justify;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
